<table>
	<tr>
		<th>
			ID
		</th>
		<th>
			Name
		</th>
		<th>
			Age
		</th>
		<th>
			Tel
		</th>
		<th>
			Mail
		</th>
	</tr>
	<%= render :partial => "layouts/partials/mydata",:collection=>@datas %>
</table>
