<h1>Sample#index</h1>
<%= @msg %>
<hr />
<form method="post" action="index">
	<input type="text" name="text1" />
	<input type="submit" />
</form>
<p>Find me in app/views/sample/index.html.erb</p>
<hr />
