<form method="post" axtion="sample/index">
	<table>
		<tr>
			<th>Name:</th>
			<td><input type="text" name="name" /></td>
		</tr>
		<tr>
			<th>Age:</th>
			<td><input type="text" name="age" /></td>
		</tr>
		<tr>
			<th>Mail:</th>
			<td><input type="text" name="mail" /></td>
		</tr>
		<tr>
			<th>Tel:</th>
			<td><input type="text" name="tel" /></td>
		</tr>
		
		<tr>
			<th></th>
			<td><input type="submit" /></td>
		</tr>
	</table>
	
</form>
<table>
	<tr>
		<th>
			ID
		</th>
		<th>
			Name
		</th>
		<th>
			Age
		</th>
		<th>
			Tel
		</th>
		<th>
			Mail
		</th>
	</tr>
	<%= render :partial => "layouts/partials/mydata",:collection=>@datas %>
</table>
