// Place all the styles related to the sample controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
  background-color:#aaaaff;
  padding: 5px;
  margin:0px 0px 25px 0px;
  font-size:14pt;
}
p{
  font-size:12pt;
  color :#000066;
}
p.footer{
  text-align:right;
  font-size:9pt;
  color:#6666aa; 
}
table tr th{
  background-colo:#333333;
  color:#FFFFFF;
  padding:5px;
  margin:5px;
}
table th td{
  background-colo:#DDDDDD;
  color:#000066;
  padding:5px;
  margin:5px;
  
}
